*.class
*.log

# sbt specific
.cache
.history
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

helloSpark/.cache-main

helloSpark/.classpath

helloSpark/.project

streaming-twitter/.cache-main

streaming-twitter/.settings/org.scala-ide.sdt.core.prefs

streaming-twitter/config/MessageHubYP.properties

*.pyc

pixiedust/pixiedust.egg-info

pixiedust/dist

.DS_Store
